@page
@model quiz_app.Pages.QuizModel

@{
    ViewData["Title"] = "Take Quiz";
}

<h2>Quiz</h2>

<form method="post">
    @foreach (var question in Model.Questions)
    {
        <div>
            <p>@question.Text</p>
            @foreach (var answer in question.Answers)
            {
                <input type="radio" name="UserAnswers[@question.QuestionId]" value="@answer.AnswerId" /> @answer.Text

                <br />
            }
        </div>
    }
    <input type="submit" value="Submit" />
</form>

@if (Model.Score > 0)
{
    <p>Your score: @Model.Score</p>
}